version: '2'

networks:
  internal:
  web:
    external:
      name: reverseproxy_web

services:
    grafana:
        image: grafana/grafana
        mem_limit: 512m
        environment:
            - "GF_SECURITY_ADMIN_USER={{ monitoring_admin_name }}"
            - "GF_SECURITY_ADMIN_PASSWORD={{ monitoring_admin_password }}"
            - "GF_SERVER_ROOT_URL={{ grafana_url }}"
            - "GF_PATHS_CONFIG=/usr/share/grafana/conf/sample.ini"
        volumes:
            - ./data/monitoring/grafana:/var/lib/grafana
        networks:
            - internal
            - web
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host: {{ monitoring_domain }}"
            - "traefik.docker.network=reverseproxy_web"
            - "traefik.port=3000"

    influxdb:
        image: influxdb:1.4
        mem_limit: 512m
        environment:
            - "INFLUXDB_HTTP_AUTH_ENABLED=true"
            - "INFLUXDB_ADMIN_USER={{ monitoring_admin_name }}"
            - "INFLUXDB_ADMIN_PASSWORD={{ monitoring_admin_password }}"
            - "INFLUXDB_WRITE_USER={{ monitoring_agent_name }}"
            - "INFLUXDB_WRITE_USER_PASSWORD={{ monitoring_agent_password }}"
        volumes:
            - ./data/monitoring/influxdb:/var/lib/influxdb
            - ./conf/influxdb.conf:/etc/influxdb/influxdb.conf:ro
        ports:
            - "0.0.0.0:8086:8086"
        networks:
            - internal
